@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-monitor-50: #F1F4FC;
  --color-monitor-100: #E2E8F8;
  --color-monitor-200: #C1CEF1;
  --color-monitor-300: #8CA4E5;
  --color-monitor-400: #1042C8;
  --color-monitor-500: #1042C8;
  --color-monitor-600: #0E3AB0;
  --color-monitor-700: #0C3298;
  --color-monitor-800: #0A297C;
  --color-monitor-900: #082060;
  --color-monitor-950: #051540;
}
